:root {
    --highlight-color: #00cc99;
}

body, html {
    margin: 0;
    background: #323437;
    font-family: "Roboto Mono", "Vazirmatn", monospace;
    font-size: 30px;

    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#contain {
    width: 60%;
    padding-left: 20%;
    padding-top: 20%;
}

#timer {
    color: var(--highlight-color);
}

#keyLogger {
    color: #646669;
    outline: none;
    outline: none;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#word {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

#character {
    display: flex;
    flex-direction: row;
}

@keyframes flashBackground {
    0%, 100% { 
        opacity: 1;
    }
    50% { 
        opacity: 0.25;
    }
}

#cursor {
    background: var(--highlight-color);
    width: 3px;
    height: 30px;
    position: absolute;
    transform: translateY(4px);
    animation: flashBackground 1s infinite;
}
