:root {
    --highlight-color: #00cc99;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #323437;
    font-size: 30px;
    font-family: "Roboto Mono", "Vazirmatn", monospace;
}

#contain {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#timer {
    color: var(--highlight-color);
}

#keyLogger {
    color: #646669;
    outline: none;
    outline: none;
    border: none;
    box-shadow: none;
}

@keyframes flashBackground {
    0%, 100% { 
        opacity: 1; /* Full opacity */
    }
    50% { 
        opacity: 0.25; /* 25% opacity */
    }
}

#cursor {
    background: var(--highlight-color);
    width: 3px;
    height: 30px;
    position: absolute;
    transform: translateY(4px);
    animation: flashBackground 1s infinite;
}
